img {
  width: 200px;
  height: 200px;
}
body{background-color: pink;
    font-family:sans-serif;
    color: purple;}
/*
    changing the background color of the page and the font family and the color of the text
*/